      ::-webkit-scrollbar { 
        display: none; 
      }

      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: rgba(0, 0, 0, .25);padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form > label { float: left; width:10%; height:2px; padding-top: 8px; }
      form input { border: 0; padding: 10px; width: 76%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-right: 1%; transition:1s ease-out;}
      section input { border: 0; padding: 10px; width: 76%; margin-right: .5%; }
      section button {font-family: 'VT323', 'Helvetica', sans-serif;text-shadow:1px 1px #d0d0d0;color:#000; font-size: 16px; width: 9%; background: rgb(130, 224, 255); border: none; margin-right: auto; margin-left:auto; transition:1s ease-out;}
      label { font-size:14px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #toggle { position:fixed; top:0%; right:0%; width:0%; height: 9.6%; z-index: 100; transition:.3s ease-in-out;}
      #toggle.expand { width: 100%;}
      #toggle.closed { width: 0%;}
      #toggle > p { font-size: 48px;}
      #toggle > div {width:100%; height: 150%;}
      #toggle > div > p { font-size: 48px;}
      /*#toggle:hover { width: 100%;}*/
      #toggle {font-family: 'Monoton', 'Helvetica', sans-serif;}
      #title, #open-toggle { font-family: 'Monoton', 'Helvetica', sans-serif; }
      #title.g {}
      #title.l {}
      #title.i {}
      #title.c {}
      #title.h {}
      #title.u {}
      #title.r {}

      #open-toggle { position: fixed; top:0;right:0; height: 9.6%; width:15%; z-index: 100; transition: .3s ease-out;}
      #open-toggle > div { width:100%; height: 150%; background-color:brown;}
      #open-toggle > div > p { font-size: 48px;}
      #open-toggle.expand { width:30%;}
      /*#open-toggle:hover { width:100%;}*/

      #ce {background: brown;}
      #se {background: orange;}
      #te {background: red;}
      #ti {background: green;}
      /*#tq {background: skyblue;}*/
      #tq {background: cornflowerblue;}
      #de {background: purple;}
      #ee {background: gold;}
      #be {background: deeppink;}
      /*#ni {background: limegreen;}*/
      #ni {background: chartreuse;}

      #button-bar section button.active { background: grey;}

      /*
      forestgreen
      lime
      lightgreen

      */

      #m{ width:0%;}
      #zi{ background: #0ff011;}
      #zi:hover{ background: #1001ff;}
      #zo{ background: #901f27;}
      #zo:hover{ background: #999aae;}
      #q{ background: #fefe51;}
      #q:hover{ background: #ee1166;}
      #p{ background: #fefe51;}
      #p:hover{ background: #ee1166;}
      /*#r{ background: #e500f6;}*/
      #r{ background: #e500f6;}
      #r:hover{ background: #e5f600;}
      #i{ background: #ee1166;}
      #i:hover{ background: #1166ee;}
      #d{ background: #10eeFF;}
      #d:hover{ background: #eeFF10;}
      #b{ background: #e5f600;}
      #b:hover{ background: #e500f6;}
      #s{ background: #03fbc2;}
      #s:hover{ background: #a3f591;}

      section button.active {
        color: #d0d0d0;
        -webkit-animation: pulse 1s infinite;
        -moz-animation: pulse 1s  infinite;
        -o-animation: pulse 1s  infinite;
        animation: pulse 1s  infinite;
      }

      @-webkit-keyframes pulse {
        0%, 100% { background-color: rgb(250, 10, 10); color:#d0d0d0;}
        50% {background-color: rgb(0, 0, 0);color:rgb(10,250,10);}
      }

      @-moz-keyframes pulse {
        0%, 100% { background-color: rgb(250, 10, 10);}
        50% {background-color: rgb(0, 0, 0);}
      }


      @-o-keyframes pulse {
         0%, 100% { background-color: rgb(250, 10, 10);}
        50% { background-color: rgb(0, 0, 0);}
        }


      @keyframes pulse {
        0%, 100% { background-color: rgb(250, 10, 10); color:#d0d0d0;}
        50% {background-color: rgb(0, 0, 0);color:rgb(10,250,10);}

      }

      .bar { position: absolute; bottom:0; left:0; right:0; height: 104px; background-color: #ff1166; z-index:20; padding-top: 4px; }

      #queue { background: rgba(0, 0, 0, .7); position:absolute; width:100%; height: 100%; top:0; }
      #queue > ul { width:15%; height:auto; float:left; margin:10px 20px;}
      #imagebar {  background: linear-gradient(rgba(255, 20, 140, .75), rgba(3, 251, 194, 1)); position:absolute; width:100%; height: 100%; top:0; overflow:scroll; }
      #imagebar h2 { transition: 1s; padding-top:1%;padding-left:1%;color:#FFFFFF;font-family: 'VT323', 'Helvetica', sans-serif;letter-spacing: 10px;text-transform: uppercase; text-align: center;}
      #imagebar h2:hover { letter-spacing: 0; }

      #stage { text-align: center;}
      #canvasstats { color: #FFFFFF;}
      #canvasholder { margin: 0; display: flex; }

      #info { color: #FFFFFF;}

      .section { font-family: 'VT323', 'Helvetica', sans-serif; background: rgba(0, 0, 0, .85); position: absolute; width:100%; height: 100%; top: 0; left: 0; overflow:scroll;}
      .section > section { position:relative; padding-top:4%; margin-left: auto; margin-right: auto; }
      .section > section > h2 { color:white; text-align: center;}

      #filechooser { color: #FFFFFF;}

      .button { transition: .3s; text-align: center; margin-top: 6%; border:2px solid white; float:left; }
      
      #filebutton { 
        color: #d0d0d0; 
        background-color: rgba(255, 20, 140, .75); 
        box-shadow: 1px 1px 1px rgba(0,0,177,.7); 
        border: 2px solid #d0d0d0;
      }
      #filebutton:hover { color:rgba(255,255,255,1);background-color: rgba(255, 20, 140, 1); box-shadow: 7px 7px 10px rgba(229,0,246,1); border: 2px solid rgba(255,255,255,1);}
      #filebutton:active { color:rgba(255, 20, 140, 1); background-color: rgba(208, 208, 208, 1); box-shadow: 10px 10px 10px rgba(255,255,255,1); border-bottom:2px solid rgba(255, 20, 140, 1); border-right:2px solid rgba(255, 20, 140, 1);}
      
      #samplebutton { color:#d0d0d0; background-color: rgba(17,102,238,.75); box-shadow: 1px 1px 1px rgba(0,0,177,.7); border: 2px solid #d0d0d0;}
      #samplebutton:hover {  color:rgba(255,255,255,1); background-color: rgba(17,102,238, 1); box-shadow: 7px 7px 10px rgba(16,238,255,1);border:2px solid rgba(255,255,255,1); }
      #samplebutton:active { color:rgba(17,102,238, 1); background-color: rgba(208, 208, 208, 1); box-shadow: 10px 10px 10px rgba(255,255,255,1); border-bottom:2px solid rgba(17,102,238, 1); border-right:2px solid rgba(17,102,238, 1);}

      #options { color: rgb(255, 235, 59); }
      .input-wrap {}
      .range { position: relative; min-height: 36px; border: 1px solid white; }
      .colorpicker { position: relative; min-height: 36px; border: 1px solid white; }
      .range > div {  position:absolute;top:0;left:0; cursor: pointer; height: 34px; width:10px; }
      .colorpicker > div {  position:absolute;top:0;left:0; cursor: pointer; height: 34px; width:100%; }
      /*.range:before { position: relative; top: 0; left:-48px; font-size: 48px; content:"+";}*/
      /*.range:after { position: relative; top: 0; left: 585px; font-size: 48px; content:"-";}*/
      .plus { font-size: 24px; color:white; margin-right: 4px; content: "+";}
      .minus { font-size: 24px; color:white; margin-right: 4px; content: "-";}
      .range-thumb { color:green; background-color: red; transition: .3s ease-out;}
      .color-thumb { color:green; background-color: white; transition: .3s ease-out;}

      .box  { font-size: 50px; color:white; text-align: center; }
      .box:hover { background-color: #ff1166; }
      .selected { background-color:#1166ee; fill:#1166ee;}
      /*.selected:hover {background-color:;}*/
      .box.selected { background: #1166ee;}
      .box.selected:hover { background-color: #ff1166; }
      .div-label { font-size: 28px;}
      #loader { background-color: rgb(10, 20, 30); color:#ffffff; position: absolute; top:0; left:0; bottom:0; right:0; z-index: 100;}
      .loader-box { font-size: 48px;position:absolute; top:10%; left: 10%;}

      

      dl.card-front > dt:after { content:":";}
      .img-wrap     { width:200px;height:260px;position:relative;perspective:800px;float:left; margin-top:2%; margin-right: 1%; margin-left:1%; }
      .card { width:100%; height:100%; position: absolute; transform-style: preserve-3d; transition:1s; }
      .card figure {margin:0; display: block; position: absolute; width:100%; height: 100%; backface-visibility:hidden;}
      .flip-button { font-size: 30px; position: absolute; top:2%; right:5%; border-radius: 22px; background: rgba(0,0,0,0.5); color: #EEEEEE; height: 40px; width: 40px; padding-left: 12px; padding-top: 0px;  }
      .card .card-front {/* background: red;*/ /*transition:.3s ease-out;*/}
      .card .card-back { transform: rotateY(180deg);}
      .card.flipped { transform: rotateY(180deg);}
      .card-action { position:absolute; width:100%; top:40%; left:10%;}
      .card-action button { width: 78px; background: rgb(130, 224, 255); border: none; padding: 10px; margin-right: 1%; position: relative;}
      .bwimg { filter:greyscale(20%);}
      .err { background: #ff0014;}
      .hidden {display: none;}
      .invisible {opacity: 0; position:absolute; z-index:-1;}
      .stacked { display: inline-block; padding-bottom: 8px; padding-left: 6px; }
      .stacked > label { float:left; width:100%; height:20px; vertical-align: 15px;}
      .stacked.hidden {display: none;}
      .queue-wrap     { width:200px;height:260px;position:relative;perspective:800px;float:left; margin-top:2%; margin-right: 1%; margin-left:1%; }
      .card figure {margin:0; display: block; position: absolute; width:100%; height: 100%; backface-visibility:hidden;}
      .queue-wrap .card dl { margin:0; padding:0; clear:both; overflow:hidden; padding-top: 15%; padding-left: 6%; }
      .queue-wrap .card dt { margin:0; padding:0; float:left; width:40%; }
      .queue-wrap .card dd { margin:0; padding:0; float:right; width:60%; }
      .queue-wrap .card dd:hover { color:#F16; transition:1s ease-out; }
      .queue-wrap .card dt:hover { color:#F16; transition:1s ease-out; }
      .queue-wrap .card dl dt, .queue-wrap .card dl dd { font-size:14px; color:;}
      /*.queue-wrap .card dl {padding-top:0.23em;padding-bottom:0.5em;border-bottom:1px solid #aaa;}*/
      .queue-wrap .card:hover {color :#FFF;}
      .queue-wrap .card .card-front { background:linear-gradient(rgba(0,255,255,0.75),rgba(255,20,140,0.75)); transition:.3s ease-out;}
      .queue-wrap .card .card-back  { background:linear-gradient(rgba(248, 36, 160,0.75), rgba(80,0,193, 0.75));}
      
      svg { width:100%;}
      .white-icon { fill: #FFFFFF; }
      .white-icon:active { fill: #66FF11;}
      /*.white-icon:hover {fill: #66FF11;}*/

      @media screen and (max-width: 449px) {
        .bar section button { width: 22%; height: 48px; border: 1px solid #d0d0d0; margin-top: 0; margin-left: 1px; margin-right: 1px;}
        .bar section {margin-left: 10px; margin-right: 0;}
        .section > section { max-width: 300px; }
        .input-wrap { width: 250px;}
        .button {  width:250px; height: 60px; font-size: 25px; line-height: 55px; margin-top: 6%; }
        .box {width: 75px; height: 75px; float: left; border:1px solid yellow;}
      }
      @media screen and (min-width:450px) {
        .bar section button { width: 22%; height: 48px; border: 1px solid #d0d0d0; margin-top: 0;margin-bottom: 2px;}
        .bar section {margin-left: 50px; margin-right: 4px;}
        .section > section { max-width: 404px;}
        .input-wrap { width: 400px;}
        .button {  width:400px; height: 60px; font-size: 27px; line-height: 55px; margin-top: 6%; }
        .box {width:100px; height:100px;float:left;border:1px solid teal;}
      }
      @media screen and (min-width:650px) {
        .bar section button { width: 12%; height: 48px; border: 1px solid #d0d0d0; margin-top: 24px;}
        .bar section {margin-left: 46px; margin-right: 4px;}
        .section > section { max-width: 606px;}
        .button {  width:500px; height: 75px; font-size: 33px; line-height: 72px;  }
        .input-wrap { width: 500px;}
        .box { width:150px; height: 150px; float: left; border:1px solid red;}
      }
      @media screen and (min-width:850px) {
        .bar section button { width: 12%; height: 48px; border: 1px solid #d0d0d0; margin-top: 24px;}
        .bar section {margin-left: 100px; margin-right: 8px;}
        .button {  width:600px; height: 75px; font-size: 33px; line-height: 72px;  }
        .input-wrap { width: 600px;}
        .section > section { max-width: 610px; }
        .box {width:150px; height: 150px; float:left;border:1px solid blue;}
      }
      @media screen and (max-height: 800px) {}

      .range-thumb:hover {
        -webkit-animation: color-run 1s infinite;
        -moz-animation: color-run 1s  infinite;
        -o-animation: color-run 1s  infinite;
        animation: color-run 1s  infinite;
      }

      @-webkit-keyframes color-run {
        0%, 100% { background-color: rgb(10, 250, 10);}
        15%, 75% { background-color: rgb(20, 90, 100);}
        30%, 55% { background-color: rgb(90, 100, 200)}
        45%    { background-color: rgb(250, 15, 120);}
      }

      @-moz-keyframes color-run {
        0%, 100% { background-color: rgb(10, 250, 10);}
        15%, 75% { background-color: rgb(20, 90, 100);}
        30%, 55% { background-color: rgb(90, 100, 200)}
        45%    { background-color: rgb(250, 15, 120);}
      }


      @-o-keyframes color-run {
        0%, 100% { background-color: rgb(10, 250, 10);}
        15%, 75% { background-color: rgb(20, 90, 100);}
        30%, 55% { background-color: rgb(90, 100, 200)}
        45%    { background-color: rgb(250, 15, 120);}
      }


      @keyframes color-run {
        0%, 100% { background-color: rgb(10, 250, 10);}
        15%, 75% { background-color: rgb(20, 90, 100);}
        30%, 55% { background-color: rgb(90, 100, 200)}
        45%    { background-color: rgb(250, 15, 120);}

      }



      .white-icon:hover {
        -webkit-animation: fill-runner 1s infinite;
        -moz-animation: fill-runner 1s  infinite;
        -o-animation: fill-runner 1s  infinite;
        animation: fill-runner 1s  infinite;
      }

      @-webkit-keyframes fill-runner {
        0%, 100% { fill: rgb(10, 250, 10);}
        15%, 75% { fill: rgb(20, 90, 100);}
        30%, 55% { fill: rgb(90, 100, 200)}
        45%    { fill: rgb(250, 15, 120);}
      }

      @-moz-keyframes fill-runner {
        0%, 100% { fill: rgb(10, 250, 10);}
        15%, 75% { fill: rgb(20, 90, 100);}
        30%, 55% { fill: rgb(90, 100, 200)}
        45%    { fill: rgb(250, 15, 120);}
      }


      @-o-keyframes fill-runner {
        0%, 100% { fill: rgb(10, 250, 10);}
        15%, 75% { fill: rgb(20, 90, 100);}
        30%, 55% { fill: rgb(90, 100, 200)}
        45%    { fill: rgb(250, 15, 120);}
      }


      @keyframes fill-runner {
        0%, 100% { fill: rgb(10, 250, 10);}
        15%, 75% { fill: rgb(20, 90, 100);}
        30%, 55% { fill: rgb(90, 100, 200)}
        45%    { fill: rgb(250, 15, 120);}

      }
/*
      .card-front:hover {
        -webkit-filter: 
          hue-rotate(180deg)
          contrast(2)
          saturate(4)
        ;
        -moz-filter: 
          hue-rotate(180deg)
          contrast(2)
          saturate(4)
        ;
        -ms-filter: 
          hue-rotate(180deg)
          contrast(2)
          saturate(4)
        ;
        -o-filter: 
          hue-rotate(180deg)
          contrast(2)
          saturate(4)
        ;
        filter: 
          hue-rotate(180deg)
          contrast(2)
          saturate(4)
        ;
      }*/

      .brown-box { fill:#ff1166; }
      .glichur-logo { width: 65%;}
